<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0IA8ynM9_9Nuw5aeg3bdw0xgnV3aQZcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>631837362029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abc.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolist-78223</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-78223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631837362029:ios:85b9352f72250c63933c64</string>
</dict>
</plist>